$primary: hsl(340, 70%, 45%)

.site-header
    @extend .navbar
    @extend .is-spaced

    h1
        @extend .navbar-brand

        a
            @extend .navbar-item
            @extend .is-size-5

    .header-navigation
        @extend .navbar-menu

        & > div
            @extend .navbar-end

            & > div
                @extend .navbar-item
                @extend .has-dropdown
                @extend .is-hoverable

                & > a
                    @extend .navbar-link

                & > div
                    // @extend .navbar-dropdown

                    a
                        @extend .navbar-item

main
    @extend .container

section.annual
    .heatmap
        display: grid

        @media screen and (min-width: 1280px)
            grid-template-columns: 11rem 1fr
            grid-template-rows: 1.1rem auto 1rem

        caption
            @extend .is-size-7
            @extend .has-text-left
            @extend .has-text-weight-medium

            @media screen and (min-width: 1280px)
                grid-row: 2
                grid-column: 1

        tr
            display: grid
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
            grid-column-gap: 0.1rem

            @media screen and (min-width: 1280px)
                grid-column: 2

            th
                @extend .is-size-7
                @extend .has-text-weight-normal

            td
                border-radius: 0.1rem

                @extend .is-size-7
                @extend .has-text-centered
                @extend .has-background-light

                &.past
                    @extend .has-background-grey-light

                &.raceweek
                    position: relative

                    @extend .has-background-primary
                    @extend .has-text-white

                    input
                        display: none

                        &:checked + div
                            display: block

                    div
                        position: absolute
                        top: 1.4rem
                        left: -1.5rem
                        z-index: 1
                        display: none
                        width: 10rem
                        padding: 0.3rem
                        border-radius: 0.1rem
                        box-shadow: 0 0 0 1px #FFF

                        @extend .has-text-left
                        @extend .has-background-grey-dark

                        &::after
                            content: ""
                            position: absolute
                            top: -0.3rem
                            left: 1.7rem
                            width: 0
                            height: 0
                            border-style: solid
                            border-color: transparent transparent hsl(0, 0%, 29%) transparent
                            border-width: 0 0.4rem 0.4rem 0.4rem

    .heatmap-options
        @extend .notification
        @extend .columns

        ul
            @extend .column

            li
                @extend .field

                input
                    @extend .switch
                    @extend .is-rounded

                label
                    @extend .is-size-7
                    @extend .has-text-weight-medium

.site-footer
    @extend .footer

    div
        @extend .container

// Import Bulma
@import "../node_modules/bulma/bulma.sass"
@import "../node_modules/bulma-switch/dist/css/bulma-switch.sass"
